@charset "UTF-8";
.closeBlock {
  padding-top: 15px;
  padding-bottom: 15px;
}

.closeBlock #mMenuClose {
  border: none;
  background: none;
  font-size: 0;
  cursor: pointer;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page {
  min-height: 100vh;
  background-color: #ffffff;
}

.page.blur {
  -webkit-filter: blur(15px);
  filter: blur(15px);
}

.page.menuOpen {
  position: fixed;
  width: 100%;
}

.page.popUp {
  position: fixed;
  width: 100%;
}

.page.popUp:before {
  content: '';
  background-color: rgba(59, 153, 248, 0.8);
  z-index: 4;
}

.mobileMenu {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.7);
}

.mobileMenu ul li {
  border-bottom: solid 1px rgba(222, 222, 222, 0.25);
}

.mobileMenu ul li:first-child {
  border-top: solid 1px rgba(222, 222, 222, 0.25);
}

.mobileMenu ul li a {
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #ffffff;
}

.header-top {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.schedule-wrapper {
  margin-left: auto;
  padding-right: 30px;
}

.address-wrapper {
  padding-right: 30px;
}

.schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.schedule span {
  color: #707070;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 400;
}

.schedule span:first-child {
  color: #000000;
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 700;
}

.schedule span:first-child::before {
  content: "";
  display: inline-block;
  background-image: url("../img/time-icon.svg");
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0;
}

.address span {
  color: #707070;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 400;
}

.address span:first-child {
  color: #000000;
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 700;
}

.address span:first-child::before {
  content: "";
  display: inline-block;
  background-image: url("../img/address-icon.svg");
  background-repeat: no-repeat;
  width: 11px;
  height: 15px;
  margin-right: 10px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contacts span {
  color: #707070;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 400;
}

.contacts span:first-child {
  color: #000000;
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 700;
}

.contacts span:first-child::before {
  content: "";
  display: inline-block;
  background-image: url("../img/contacts-icon.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.header-background-menu {
  background-color: #0ebc00;
}

.header-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 57px;
  padding: 0;
  margin: 0;
}

.header-menu-list li {
  margin-right: 30px;
}

.header-menu-list li a {
  color: #ffffff;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 700;
}

.header-background-image {
  background-image: url("../img/header-background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: auto;
  height: 569px;
}

.header-info-text h1 {
  width: 385px;
  color: #ffffff;
  font-family: "Segoe UI";
  font-size: 38px;
  font-weight: 700;
  padding-top: 189px;
  margin: 0;
  padding-bottom: 68px;
}

.header-info-text a {
  color: #ffffff;
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 400;
  border-radius: 50px;
  background-color: #363636;
  padding: 17px 99px;
  text-decoration: none;
}

.why-us {
  padding-top: 37px;
  padding-bottom: 70px;
}

.why-us h2 {
  color: #030303;
  font-family: "Segoe UI";
  font-size: 38px;
  font-weight: 700;
  padding-bottom: 49px;
  margin: 0;
}

.why-us-features {
  padding-bottom: 92px;
}

.why-us-features-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why-us-features-item img {
  padding-bottom: 32px;
}

.why-us-features-item h3 {
  width: 296px;
  margin: 0;
  padding-bottom: 15px;
  text-align: center;
}

.why-us-features-item p {
  width: 296px;
  margin: 0;
  text-align: center;
}

.why-us-product-item-wrapper {
  width: 300px;
  background-color: #f7f7f7;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why-us-product-item-wrapper::before {
  content: "";
  border: 1px solid #ffffff;
  position: absolute;
  width: 280px;
  height: 80px;
  top: 10px;
  left: 10px;
}

.why-us-product-item-wrapper span {
  color: #2f2f2f;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 700;
  padding-left: 9px;
}

.why-us-product-item-text-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.why-us-product-item-text-wrapper span:last-child {
  color: #2f2f2f;
  font-family: "Segoe UI";
  font-size: 12px;
  font-weight: 400;
}

.why-us-info {
  padding-bottom: 70px;
}

.why-us-info h3 {
  color: #2f2f2f;
  font-family: "Segoe UI";
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.why-us-info ul {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
}

.why-us-info ul li {
  color: #00d921;
}

.why-us-info p {
  color: #2f2f2f;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}

.calculate-the-cost-background {
  background-color: #4b9441;
  height: 665px;
}

.calculate-the-cost {
  padding-top: 43px;
  padding-bottom: 46px;
}

.calculate-the-cost h2 {
  color: #ffffff;
  font-family: "Segoe UI";
  font-size: 28px;
  font-weight: 700;
}

.window-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.devider-vertical {
  width: 2px;
  height: 545px;
  border: 1px solid #707070;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.right-side-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.right-side-form input[type="number"],
.right-side-form input[type="text"] {
  width: 371px;
  height: 50px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  padding-left: 21px;
  color: #ffffff;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 400;
}

.right-side-form button {
  color: #ffffff;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 700;
  width: 371px;
  height: 50px;
  border-radius: 4px;
  background-color: #00d921;
  border: none;
}

.another-production {
  padding-top: 46px;
}

.another-production h2 {
  padding-bottom: 40px;
}

.another-production-item {
  width: 400px;
  height: 310px;
  background-color: #f5f5f5;
  margin-bottom: 30px;
}

.another-production-item img {
  padding-bottom: 15px;
}

.another-production-item span {
  padding-left: 20px;
  color: #000000;
  font-family: "Segoe UI";
  font-size: 18px;
  font-weight: 400;
}

.our-partners h2 {
  color: #434343;
  font-family: "Segoe UI";
  font-size: 28px;
  font-weight: 700;
  padding-top: 24px;
  margin: 0;
}

.our-partners p {
  color: #434343;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 44px;
  margin: 0;
}

.we-are-proud h2 {
  margin: 0;
  color: #000000;
  font-family: "Segoe UI";
  font-size: 28px;
  font-weight: 700;
}

.we-are-proud p {
  padding-bottom: 28px;
  margin: 0;
  color: #434343;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 400;
}

.we-are-proud a {
  margin-top: 85px;
  margin-bottom: 68px;
  color: #ffffff;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 700;
  border-radius: 4px;
  background-color: #00d921;
  padding: 16px 81px;
  display: inline-block;
  margin-right: 50px;
}

.we-are-proud a:last-child {
  background-color: #363636;
  margin: 0;
}

.we-are-proud-item {
  margin-bottom: 20px;
}

.windows-company {
  padding-bottom: 70px;
}

.windows-company-info {
  height: 268px;
  background-color: #4b9441;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 29px;
}

.windows-company-info-item span {
  display: block;
  text-align: center;
  color: #ffffff;
  font-family: "Segoe UI";
  font-weight: 700;
  font-size: 58px;
}

.windows-company-info-item p {
  margin: 0;
  color: #ffffff;
  font-family: "Segoe UI";
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.footer-background {
  background-color: #7e7e7e;
}

.footer-inner-background {
  background-color: #363636;
}

.footer {
  height: 410px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-items {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-item ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-item ul li a {
  color: #ffffff;
  font-family: "Segoe UI";
  font-size: 18px;
  font-weight: 400;
}

.footer-item ul li a:hover, .footer-item ul li a:focus {
  color: #363636;
}

.footer-inner-item ul li a:hover, .footer-inner-item ul li a:focus {
  color: #00d921;
}

.footer-schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer-schedule span {
  color: #989898;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 400;
}

.footer-schedule span:first-child {
  color: #ffffff;
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 700;
}

.footer-schedule span:first-child::before {
  content: "";
  display: inline-block;
  background-image: url("../img/footer-time-icon.svg");
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.footer-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0;
}

.footer-address span {
  color: #989898;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 400;
}

.footer-address span:first-child {
  color: #ffffff;
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 700;
}

.footer-address span:first-child::before {
  content: "";
  display: inline-block;
  background-image: url("../img/footer-address-icon.svg");
  background-repeat: no-repeat;
  width: 11px;
  height: 15px;
  margin-right: 10px;
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer-contacts span {
  color: #989898;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 400;
}

.footer-contacts span:first-child {
  color: #ffffff;
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 700;
}

.footer-contacts span:first-child::before {
  content: "";
  display: inline-block;
  background-image: url("../img/footer-contacts-icon.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.breadcrumbs {
  border-bottom: 2px solid #dedede;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs ul li:first-child a {
  color: #00d921;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 400;
}

.breadcrumbs ul li a {
  color: #000000;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 400;
}

.breadcrumbs ul span {
  padding: 0 5px;
}

.example-of-works h2 {
  margin: 0;
  color: #000000;
  font-family: "Segoe UI";
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 53px;
}

.example-of-works p {
  padding-bottom: 28px;
  margin: 0;
  color: #434343;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 400;
}

.example-of-works a {
  margin-top: 85px;
  margin-bottom: 68px;
  color: #ffffff;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 700;
  border-radius: 4px;
  background-color: #00d921;
  padding: 16px 81px;
  display: inline-block;
  margin-right: 50px;
}

.example-of-works a:last-child {
  background-color: #363636;
  margin: 0;
}

.example-of-works-item {
  margin-bottom: 20px;
}

.plastic-windows {
  padding-top: 24px;
  padding-bottom: 80px;
}

.plastic-windows h2 {
  padding-bottom: 50px;
  margin: 0;
}

.plastic-windows ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.plastic-windows ul li::before {
  content: "•";
  color: #00d921;
  display: inline-block;
  margin-right: 5px;
}

.plastic-windows ol {
  padding-left: 15px;
}

.plastic-windows .metal-plastic-list {
  list-style: none;
}

.plastic-windows .metal-plastic-list li::before {
  content: "";
}

.plastic-windows-text {
  padding-bottom: 50px;
}

.plastic-windows-text p {
  color: #000000;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 400;
}

.plastic-windows-text p b {
  font-weight: 700;
}

.plastic-windows-text a {
  color: #ffffff;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 700;
  border-radius: 4px;
  background-color: #00d921;
  padding: 16px 81px;
  display: inline-block;
}

.plastic-windows-text ol {
  padding-left: 15px;
}

.windows-text {
  color: #808080;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 400;
  padding-top: 20px;
}

.our-works {
  padding-top: 24px;
}

.contacts-text p {
  margin: 0;
}

.contacts-text-schedule {
  padding-top: 20px;
}

.contacts-text-contacts {
  padding-bottom: 20px;
}

.contacts-text-contacts a {
  color: #000000;
}

.contacts-text-email a {
  color: #000000;
}

.contacts-page {
  padding-top: 24px;
  padding-bottom: 50px;
}

.contacts-page h2 {
  margin: 0;
  margin-right: auto;
  padding-bottom: 50px;
}

.contacts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts-wrapper label input {
  width: 268px;
  height: 40px;
  border-radius: 4px;
  background-color: #ebebeb;
  color: #696969;
  font-family: "Segoe UI";
  font-size: 12px;
  font-weight: 400;
  border: none;
  padding-left: 15px;
}

.send-button {
  width: 100%;
  color: #ffffff;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 700;
  width: 268px;
  height: 40px;
  border-radius: 4px;
  background-color: #ff0031;
  border: none;
}

.modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-body p {
  width: 268px;
}

.modal-dialog {
  width: 322px;
  height: 347px;
}

.modal-header {
  padding-bottom: 0;
  border-bottom: 0;
}

.metal-plastic-doors-wrapper ol {
  list-style: none;
  padding: 0;
  margin: 0;
  counter-reset: list;
}

.metal-plastic-doors-wrapper ol li::before {
  counter-increment: list;
  content: counter(list) ".";
  color: #00d921;
  margin-right: 5px;
}

.our-works {
  padding-bottom: 70px;
}

.our-works a:last-child {
  background-color: #00d921;
}

.contacts-text-address p:first-child,
.contacts-text-contacts p:first-child,
.contacts-text-email p:first-child {
  color: #000000;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 700;
}

.contacts-text-schedule p b {
  color: #000000;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 700;
}

.mobile-icons-wrapper {
  display: none;
}

@media (max-width: 1366px) {
  .why-us-product-item {
    margin-bottom: 20px;
  }
}

@media (max-width: 992px) {
  .header-menu-list li a {
    font-size: 11px;
  }
  .schedule-wrapper {
    display: none;
  }
  .address-wrapper {
    margin-left: auto;
  }
  .header-background-image {
    height: 500px;
  }
  .why-us-features-item {
    margin-bottom: 30px;
  }
  .another-production-item {
    width: 340px;
    height: 270px;
  }
  .another-production-item img {
    width: 340px;
  }
  .footer-item:nth-child(2), .footer-item:nth-child(3) {
    display: none;
  }
  .footer-item:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-schedule {
    display: none;
  }
  .footer-address {
    margin-right: 15px;
  }
  .footer {
    height: 300px;
  }
  .windows-company-info-item span {
    font-size: 40px;
  }
  .windows-company-info-item p {
    font-size: 14px;
  }
  .plastic-windows-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
  .plastic-windows-image img {
    width: 100%;
  }
  .contacts-text {
    margin-bottom: 30px;
  }
  .contacts-map iframe {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .header-info-text h1 {
    margin: 0 auto;
    text-align: center;
    padding-top: 150px;
  }
  .contacts-wrapper {
    margin-left: auto;
  }
  .schedule-wrapper,
  .address-wrapper {
    display: none;
  }
  .header-info-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-menu-list {
    display: none;
  }
  .why-us-product-item-wrapper {
    margin: 0 auto;
  }
  .another-production-item {
    margin: 0 auto 30px auto;
  }
  .we-are-proud-item {
    text-align: center;
  }
  .windows-company {
    padding-top: 30px;
  }
  .windows-company-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0;
    height: 300px;
  }
  .windows-company-info-item {
    margin-bottom: 10px;
  }
  .footer-address {
    display: none;
  }
  .footer {
    height: 200px;
  }
  .another-production-item {
    width: 100%;
    height: 380px;
  }
  .another-production-item img {
    width: 100%;
  }
  .we-are-proud-item img {
    width: 100%;
  }
  .we-are-proud a {
    width: 100%;
    display: block;
    padding: 30px;
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .header-info-text h1 {
    width: 270px;
    font-size: 30px;
  }
  .header-info-text a {
    font-size: 18px;
    padding: 10px 75px;
    text-align: center;
  }
  .why-us-features-item h3 {
    width: 100%;
    font-size: 35px;
  }
  .why-us-features-item p {
    font-size: 24px;
    width: 100%;
  }
  .why-us-product-item-wrapper {
    width: 100%;
  }
  .why-us-product-item-wrapper::before {
    width: 96%;
  }
  .why-us-product-item-wrapper span {
    font-size: 18px;
  }
  .why-us-product-item-text-wrapper span:last-child {
    font-size: 14px;
  }
  .why-us-info p {
    font-size: 18px;
  }
  .another-production {
    padding-top: 0;
  }
  .another-production-item {
    height: 390px;
  }
  .another-production-item span {
    font-size: 24px;
  }
  .our-partners p {
    font-size: 24px;
  }
  .our-partners h2,
  .we-are-proud h2 {
    padding-bottom: 20px;
  }
  .our-partners p,
  .we-are-proud p {
    font-size: 24px;
  }
  .we-are-proud a {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .windows-company p {
    font-size: 24px;
  }
  .windows-company-info {
    height: 400px;
  }
  .windows-company-info-item {
    margin-bottom: 30px;
  }
  .footer-contacts span:first-child {
    font-size: 24px;
  }
  .contacts-wrapper {
    margin: 0;
  }
  .modal-dialog {
    margin: auto;
  }
  .contacts {
    display: none;
  }
  .header-menu-list {
    display: block;
  }
  .header-menu-list li {
    display: none;
  }
  .header-logo-wrapper {
    text-align: center;
  }
  .header-top {
    height: auto;
    padding: 10px 0;
  }
  .header-info-text h1 {
    padding-top: 0;
    padding-bottom: 50px;
  }
  .header-info-text a {
    padding: 15px 50px;
  }
  .header-background-image {
    height: auto;
    padding: 50px 0;
  }
  .why-us h2 {
    text-align: center;
  }
  .why-us-product-item-wrapper::before {
    width: 270px;
  }
  .why-us-product-item-wrapper span {
    font-size: 16px;
  }
  .why-us-features,
  .why-us,
  .why-us-info {
    padding-bottom: 20px;
  }
  .why-us-info ul li {
    font-size: 18px;
  }
  .another-production-item {
    height: 300px;
  }
  .another-production-item span {
    display: block;
  }
  .windows-company-info {
    height: auto;
  }
  .footer-contacts {
    display: none;
  }
  .footer-item:first-child {
    text-align: center;
  }
  .footer {
    height: 100px;
  }
  .mobile-icons-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
  }
  .mobile-icons-wrapper a img {
    width: 30px;
  }
  .menu-list-mobile {
    list-style: none;
    padding: 0;
  }
  .plastic-windows {
    padding-bottom: 20px;
  }
  .plastic-windows h2,
  .plastic-windows h3 {
    font-size: 24px;
    padding-bottom: 20px;
  }
  .example-of-works h2 {
    font-size: 24px;
    padding-bottom: 20px;
  }
  .example-of-works a,
  .plastic-windows-text a {
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
  }
  .example-of-works a:last-child,
  .plastic-windows-text a:last-child {
    margin-bottom: 20px;
  }
  .plastic-windows-text {
    padding-bottom: 20px;
  }
  .example-of-works-item img {
    width: 100%;
  }
  .modal-dialog {
    padding: 10px;
  }
}
/*# sourceMappingURL=styles.css.map */